 <!-- Start contact section  -->
  <section id="contact">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="title-area">
              <h2 class="title"> Edit Project</h2>
              <span class="line"></span>
              <p>Please add accurate project details ,so we can find best freelancer  for you.</p>
            </div>
         </div>
         <div class="col-md-12">
           <div class="cotact-area">
             <div class="row">
               <div class="col-md-4">
                 <div class="contact-area-left">
                   <h4>Project Regarding Info</h4>
                   <p>Please given all the project regarding information in here. such as  specify which techonology you are develop a project and exactly what you want from a developer.
                   </p>
                   <address class="single-address">
                     <p>If You have any query  project regarding,Please feel free to contact our support team.</p>
                     <p>support@get_work.com</p>
                     <p>+1(06) 778 5468</p>
                   </address> 
                   <div class="footer-right contact-social">
                      <a href="index.html"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>                
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="contact-area-right">   	
					<%= render 'form' %>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </section>
  <!-- End contact section  -->