
<script type='text/javascript' src='https://www.smartrecruiters.com/img/script/smartWidget/smart_widget.js'>
</script>
<script type='text/javascript' class='job_widget'>
widget({
  "company_code":"smartdemo",
  "bg_color_widget":"#ffffff",
  "bg_color_headers":"#969696",
  "txt_color_headers":"#292929",
  "bg_color_even_row":"#944069",
  "bg_color_odd_row":"",
  "txt_color_job":"#453045",
  "bg_color_links":"#c5d8eb",
  "custom_css_url":"https://www.smartrecruiters.com/img/style/smartWidget/smart_widget.css",
  "auto_width":"auto",
  "auto_height":"auto",
  "jobs_number":"15",
  "job_title":"true",
  "location":"true",
  "filter_departments":"",
  "filter_locations":"hi test"
});
</script>




 <!-- Start Feature -->
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Projects</h2>
            <span class="line"></span>
            
            <p>There are lots of projects available here :).So please describe your skill here and get those project which match your skill with projects .</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="feature-content">
            <div class="row">
              <%@projects.each do |project| %>
                 <div class="col-md-4 col-sm-6">
                  <div class="single-feature wow zoomIn">
                    <%= link_to  project_path(project) ,:style => "text-decoration:none; " do %>
                      <h4 class="feat-title"><%=project.name %> </h4>
                    <% end%>
                    posted at <%= project.created_at.strftime("%d-%m-%Y %H:%M")  %> ago.
                    <p><%= project.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature -->